.footer {
  align-self: flex-end;
  width: 100%;
  min-height: 3rem;
  margin-top: 1rem;
  padding-inline: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.copyright {
  display: flex;
  align-items: center;
}

.gitlink {
  display: flex;
}
